.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px; /* Ajustez selon votre design */
	padding: 16px 28px;
	border-style: solid;
	line-height: normal;
	border-radius: 10px; /* Pour un bouton arrondi */
	transition: background-color 0.3s, color 0.3s;
}

.fullWidth {
	width: 100%;
}

.icon {
	margin-left: 8px;
	border-radius: 50%;
	background-color: white;
	width: 20px;
	height: 20px;
}
