.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	margin-left: 10px;
	border-radius: 5px; /* Arrondissement des bords */
	font-weight: bold;
}

.tab:hover {
	color: rgb(65, 71, 186); /* Couleur du texte au survol */
	cursor: pointer;
}
