.gridContainer {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
}

@media (max-width: 800px) {
	.gridContainer {
		grid-template-columns: 1fr; /* Change la grille pour empiler les contenus verticalement */
	}
}

.containerVideo {
	height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 800px) {
	.containerVideo {
		height: fit-content;
	}
}
