.gridContainer {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
}

@media (max-width: 800px) {
	.gridContainer {
		grid-template-columns: 1fr; /* Change la grille pour empiler les contenus verticalement */
	}
}
