.wrapper {
	display: grid;
	gap: 20px;
}

.containerGrid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
	align-items: center;
	justify-items: center;
}

.containerText {
	display: flex;
	flex-direction: column;
}

.containerImage {
	display: flex;
	justify-content: center;
}

.containerCardGrid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
	justify-items: center;
}
