.wrapper {
	padding: 10%;
	height: 100vh;
}

.containerText {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.containerCardGrid {
	margin-top: 50px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
	justify-items: center;
}
