.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 16px 28px;
	border-radius: 3px;
	transition: background-color 0.3s, color 0.3s;
	color: rgb(255, 255, 255);
	width: fit-content;
}

.button:hover {
	cursor: pointer;
}
