/* components/gridWithCards.module.css */

.container {
	display: block;
	padding: 5% 10% 0 10%;
}

.title {
	text-align: center;
	font-size: 2em;
	margin-bottom: 50px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(200px, 1fr)
	); /* Utilisation de auto-fit et minmax */
	gap: 50px;
}

.card {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 200px; /* Les cartes prennent toute la largeur de la colonne */
}

.textCard {
	color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.card {
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: 150px; /* Les cartes prennent toute la largeur de la colonne */
		font-size: 0.8em;
		inline-size: fit-content;
	}
}
