.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(28, 35, 84);
	padding: 20px;
	color: rgb(255, 255, 255);
	gap: 50px;
}

.copyrigth {
	white-space: nowrap;
}

.link {
	text-decoration: underline;
	text-align: center;
}

.linksContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.nowrap {
	white-space: nowrap;
}

/* Media query pour les écrans de moins de 600px */
@media (max-width: 600px) {
	.footer {
		flex-direction: column; /* Change la disposition en colonne */
	}

	.linksGrid {
		grid-template-columns: 1fr; /* Une seule colonne pour les liens */
	}
}
