body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

video {
	display: block;
	width: 100%;
	height: auto;
}

iframe {
	display: block;
	max-width: 100%;
}

.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* Ratio d'aspect 16:9 */
	height: 0;
	overflow: hidden;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.link {
	color: #0070f3;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

iframe {
	display: block;
	max-width: 100%;
}

.subtitle {
	font-size: 30px;
	font-weight: bold;
	color: #0077b6;
}

.subtitleLight {
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.title {
	font-size: 50px;
	font-weight: bold;
	color: #03045e;
}

.titleLight {
	font-size: 50px;
	font-weight: bold;
	color: #63c5fa;
}

.normalText {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.normalTextLight {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

.simpleText {
	font-size: 16px;
	color: black;
}

.simpleTextLight {
	font-size: 16px;
	color: white;
}

.light {
	color: white;
}

.dark {
	color: black;
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 50px;
		font-weight: bold;
		color: #03045e;
	}

	.subtitle {
		font-size: 30px;
		font-weight: bold;
		color: #0077b6;
	}

	.normalText {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.titleLight {
		font-size: 50px;
		font-weight: bold;
		color: #63c5fa;
	}

	.subtitleLight {
		font-size: 30px;
		font-weight: bold;
		color: white;
	}

	.normalTextLight {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 16px;
		color: white;
	}

	.simpleText {
		font-size: 16px;
		color: black;
	}

	.simpleTextLight {
		font-size: 16px;
		color: white;
	}
}
