/* styles/header.module.css */
.header {
	display: flex;
	position: sticky;
	top: 0;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	z-index: 99;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid rgb(240, 240, 240);
}

.leftGroup {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 1rem;
}

.tabs {
	display: flex;
	align-items: center;
	height: 60px;
}

.rightGroup {
	display: flex;
	align-items: center;
}

.menuButton {
	display: none;
	width: 50px;
	font-size: 2rem;
	cursor: pointer;
	position: relative;
	z-index: 15;
	color: black;
	text-align: center;
}

.nav {
	display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
	.tabs {
		display: none;
	}

	.menuButton {
		display: block;
	}

	.nav {
		display: none;
		position: fixed;
		top: 40px;
		height: 100%;
		width: 100vw;
		background-color: rgba(255, 255, 255, 0.99);
		flex-direction: column;
		z-index: 1000;
		transition: all 4s ease-in-out;
	}

	.nav.open {
		display: flex;
	}

	.navList {
		flex-direction: column;
		list-style: none;
		padding: 0px;
		margin: 10px;
	}

	.navItem {
		margin: 20px;
		border-bottom: 1px solid rgb(212, 212, 212);
	}

	.navItem:last-child {
		margin-top: 50px;
		border-bottom: none;
	}

	.navItem a {
		font-size: 1.5rem;
		color: rgb(0, 0, 0);
		text-decoration: none;
		display: block;
		width: 100%;
	}

	.navItem a:hover {
		color: #000000;
	}

	.subMenuLayer {
		width: 100%;
	}

	.backButton {
		font-size: 1.5rem;
		color: rgb(0, 0, 0);
		cursor: pointer;
		margin-bottom: 1rem;
	}

	.subMenu {
		list-style: none;
	}

	.subMenuItem {
		margin: 0.5rem 0;
	}

	.subMenuItem a {
		font-size: 1.2rem;
		color: rgb(0, 0, 0);
		text-decoration: none;
	}

	.subMenuItem a:hover {
		color: #000000;
	}

	.navLink {
		display: flex;
		font-size: 1.5rem;
		color: rgb(0, 0, 0);
		text-decoration: none;
		cursor: pointer;
		justify-content: space-between;
	}

	.demoButtonMobile {
		margin: 1rem 0;
		display: flex;
		justify-content: center;
	}

	/* Hide the button on small screens */
	.rightGroup {
		display: none;
	}
}
