.header {
	position: sticky;
	top: 0;

	background-color: white;
	display: flex;
	justify-content: center;

	padding: 10px 0;
}

.topBar {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftGroup,
.rightGroup {
	display: flex;
	align-items: center;
}

.menuButton {
	display: none;
	cursor: pointer;
}

.tabs {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	.logo img {
		width: 120px; /* Ajuster selon le besoin */
		height: 30.5px; /* Ajuster selon le besoin, gardez le rapport d'aspect */
	}
	.menuButton {
		display: block;
	}

	.topBar {
		justify-content: space-between;
	}

	.leftGroup {
		order: 1;
	}

	.rightGroup {
		order: 2;
	}

	.tabs {
		display: none;
	}

	.tabs.show {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: white;
		z-index: 100;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
}
