.wrapper {
	width: 100%;
}

.pageSections {
	display: flex;
	flex-direction: column;
}

.pageSections > div:nth-child(even) {
	background-color: rgb(10, 22, 110);
}

.pageSections > div:nth-child(odd) {
	background-color: #ffffff;
}

.containerGrid {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-gap: 20px;
	max-width: 1200px;
	margin: 50px auto 50px auto;
}

.splitRow {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 50px;
}

.splitColumn {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
}
