.wrapper {
	width: 100%;
}

.pageSections {
	display: flex;
	flex-direction: column;
}

.pageSections > div {
	padding: 30px;
}

.pageSections > div:last-child {
	border-bottom: 1px solid #e7e7e7;
}

.pageSections > div:nth-child(even) {
	background-color: rgb(10, 22, 110);
}

.pageSections > div:nth-child(odd) {
	background-color: #ffffff; /* Blanc */
}

.containerGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
}

@media (min-width: 1200px) {
	.containerGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}

.split {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 40px;
}
