.utils {
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid #e3e3e3;
}

.columnsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

.columnsGrid > div {
	padding: 0 10px;
}

.columnTitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.logoGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.wiseTwinContact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links > div {
	margin-bottom: 10px;
	font-size: 12px;
	cursor: pointer;
	color: #000;
}

.links > div:hover {
	color: #007bff;
}

@media screen and (max-width: 600px) {
	.links > div {
		font-size: 12px;
	}
}
